
/*STYLES GLOBAUX*/
html {
    box-sizing: border-box;
    font-size: 16px;
}

*, *::before, *::after {
    box-sizing: inherit;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

.bgimg {
    background-image: url("/img/clairek.jpg");
    min-height: 100%;
    background-position: center top fixed;
    background-size: cover;
}


#wrapper{
	margin-left: 12em;
	background-color: #333;
}



/* STYLES DE LA POLICE */


#main {
	margin-left: 120px
}


/* STYLES DE LA SIDEBAR */

.w3-row-padding img {
	margin-bottom: 12px;
}

.w3-sidebar {
	width: 120px;
	background: transparent;
}

/* STYLES DE L'INTRO */

header div {
	position: relative;
	width:100%;
	height:60em;
	background-color: transparent;
	margin-top: 1em;
	float: center;
}

.boutons {
	float:left;
}


/* STYLE DE L'ABOUT */


/* STYLES DES COMPETENCES */


/* STYLES DU PORTFOLIO */


/* STYLES DES CONTACTS */


/* STYLES DU FOOTER */

/* MEDIA QUERIES */

@media only screen and (max-width: 600px) {
	#main {
		margin-left: 0;
	}
}

@media only screen and (max-device-width: 1024px) {
    .bgimg-1 {
        background-attachment: scroll;
    }
}





