/* CSS RESET */

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td { 
	margin:0;
	padding:0;
}
html,body {
	margin:0;
	padding:0;
}
table {
	border-collapse:collapse;
	border-spacing:0;
}
fieldset,img { 
	border:0;
}
input{
	border:1px solid #b0b0b0;
	padding:3px 5px 4px;
	color:#979797;
	width:190px;
}
address,caption,cite,code,dfn,th,var {
	font-style:normal;
	font-weight:normal;
}
ol,ul {
	list-style:none;
}
caption,th {
	text-align:left;
}
h1,h2,h3,h4,h5,h6 {
	font-size:100%;
	font-weight:normal;
}
q:before,q:after {
	content:'';
}
abbr,acronym { border:0;
}


/* DECLARATION POLICES INTERNES */

@font-face {
    font-family: Olegos;
    src: url('/fonts/olegos/Olegos.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Chlakh;
    src: url('/fonts/chlakh-demo/Chlakh.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


/*STYLES GLOBAUX*/

html {
    font-size: 62.5%;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

body {
	margin: 0;
    padding: 0;
    font-family: Roboto, sans-serif;
    font-size: 1.4em;
    color: white;
    background: 
    linear-gradient(rgba(0, 0, 0, 0.10), rgba(0, 0, 0, 0.10)),
    url('/img/clairek.jpg') no-repeat fixed top center;
    background-size: cover;
    position: relative;
}

h1, h2 {
	font-family: Chlakh, sans-serif;
}

h2 {
	font-size: 2.8em;
}

h3, h4 {
	font-family: Roboto;
	text-transform: uppercase;
	padding-top: 1.7em;
	padding-bottom: 1em;
	font-size: 1.6em;
	padding-left: 1.5em;
	font-weight: bold;
}

hr {
	width: 20em;
	background-color: white;
}

#section-1,
#section-2,
#section-3,
#section-4,
#section-5 {
	background-color: rgba(0, 0, 0, 0.30);
	padding: 2em;
	margin-bottom: 8em;
}

.container{
	padding-left: 22em;
	padding-right: 22em;
	display: table-cell;
}

#wrapper {
	padding: 0em 1em;
}


/* STYLE DE LA SIDEBAR */

.sidebar-menu {
	display: table-cell;
	position: fixed;
	margin: 2em 0em;
	color: #9E9E9E;
}

li.logo {
	margin-top: 2em;
	margin-bottom: 1em;
	padding: 0.5em 1em;
	line-height: 1.1em;
	font-size: 1.5em;
}

li.logo p {
	font-family: Olegos;
	color: white;
	font-size: 4em;
	transition: all 400ms linear;
}

li.logo p:hover {
	color: yellow;
}

.menu-items a i {
	font-size: 2.5em;
	margin: 0.1em;
	padding-left: 1em;
	line-height: 2em;
	border-left: 0.05em solid #9E9E9E;
	transition: all 400ms linear;
}

.menu-items a i p {
	display: none;
	font-family: Chlakh;
	text-transform: uppercase;
	font-size: 0.6em;
	line-height: 1em;
}

.menu-items a i:hover,
.menu-items a.active i {
	border-left: 0.3em solid yellow;
	color: yellow;
}

.menu-items a i:hover p,
.menu-items a.active p {
	display: block;
}

/* STYLES DE L'INTRO */

#section-0 {
	height: 100vh;
}

/* STYLES DES COMPETENCES */

.title {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between; 
}

.title img {
	width: 2.75em;
	height: auto;
	margin-bottom: -1.2em;
	opacity: 1;
	transition: all 400ms linear;
}

.title img:hover {
	opacity: 0.5;
}


.comp3 {
	display: flex;
	flex-wrap: wrap;
	margin: 0em 4em;
	justify-content: center;
}

.comp3 article {
	width: 33%;
	height: 10em;
	text-align: center;
	border: .2px solid rgba(121, 128, 129, 0.99);
	background-color: rgba(121, 128, 129, 0.80);
	text-shadow: 0.5px 0.5px 0.5px white;
	transition: all 400ms linear;
}

.comp3 article:hover {
	border: .2px solid rgba(255, 255, 0, 0.99);
	background-color: rgba(255, 255, 0, 0.70);
	color: #333;
	text-shadow: 1px 0.5px 1px #333;
	transform: scale(1.07);
}

.comp3 article p {
	font-size: 1.2em;
}


.comp4 {
	display: flex;
	flex-wrap: wrap;
	margin: 0em 4em;
	justify-content: center;
}

.comp4 article {
	width: 25%;
	height: 10em;
	text-align: center;
	border: .2px solid rgba(121, 128, 129, 0.99);
	background-color: rgba(121, 128, 129, 0.80);
	text-shadow: 0.5px 0.5px 0.5px white;
	transition: all 400ms linear;
}

.comp4 article:hover {
	border: .2px solid rgba(255, 255, 0, 0.99);
	background-color: rgba(255, 255, 0, 0.70);
	color: #333;
	text-shadow: 1px 0.5px 1px #333;
	transform: scale(1.07);
}

.comp4 article p {
	font-size: 1.2em;
}

a.dl {
	margin: auto;
	padding: 1.2em;
	background-color: white;
	color: #333;
	font-size: 1.2em;
}

a.dl:hover {
	border: .2px solid rgba(14, 27, 48, 0.99);
	background-color: rgba(14, 27, 48, 0.72);
	color: white;
}

a.dl i {
	font-size: 1.3em;
}


/* STYLE DE L'ABOUT */

/* STYLE DES INTERETS */

/* STYLES DES CONTACTS */

#section-5 {
	margin-bottom: 30em;
}


/* MEDIA QUERIES */

@media only screen and (max-width: 600px) {
	.container {
		padding-left: 0;
	}

	.sidebar {
		visibility: hidden;
	}

	.comp3 article {
		line-height: 5em;
	}

	.comp4 article {
		line-height: 5em;
	}
}






