
/*STYLES GLOBAUX*/
html {
    box-sizing: border-box;
    font-size: 16px;
}

*, *::before, *::after {
    box-sizing: inherit;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

body {
    background: linear-gradient(rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.50), url(../img/E31A7876-3.jpg) no-repeat fixed top center;
	background-size: cover;
}

#wrapper{
	margin-left: 12em;
}


/* STYLES DE LA POLICE */


/* STYLES DE LA SIDEBAR */

aside {
    position:fixed;
	float:left;
	heigth: 100%;
	margin: 1% 3% 0 3%;
}

ul li a,
ul li a .fa{
	color: white;
	line-height: 2em;
	font-size: 1.8em;
	transition-duration: .5s;
	transition-timing-function: ease-out;
}

ul li a,
ul li a .fa:hover{
	color: #FFFF00;
	transform: scale(1.2);
	transition-duration: .5s;
	transition-timing-function: ease-out;
}

/* STYLES DE L'INTRO */

header div {
	position: relative;
	width:100%;
	height:60em;
	background-color: transparent;
	margin-top: 1em;
	float: center;
}

.boutons {
	float:left;
}


/* STYLE DE L'ABOUT */


/* STYLES DES COMPETENCES */


/* STYLES DU PORTFOLIO */


/* STYLES DES CONTACTS */


/* STYLES DU FOOTER */

